<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Invoices</title>
</head>
<body>
  <h1>Invoices</h1>
  <a href='/invoices/new'><button>Create A New Invoice</button></a>
  <% @invoices.each do |invoice| %>
  <ul>
    <li><a href='/invoices/<%= invoice.id %>'><%= invoice.merchant_id %></a></li>
      <a href="/invoices/<%= invoice.id %>/edit"><button>Edit</button></a>
      <div id="delete-<%= invoice.id %>">
        <form action='/invoices/<%= invoice.id %>' method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </div>
  </ul>
  <% end %>
</body>
</html>
