
    <p id='merchant-with-most-items'>Merchant With Most Items: <%= @merchant_with_most_items.name %></p>
    <p id='merchant-with-highest-priced-item'>Merchant With Highest Priced Item: <%= @merchant_name_with_highest_priced_item %></p>
    <% @merchants.each do |merchant| %>
      <p id='<%= merchant.name %>'><%= merchant.name %></p>
      <p id='item-count-<%= merchant.id %>'>Item Count:</br><%= merchant.items.length %></p>
      <p id='average-price-<%= merchant.id %>'>Average Item Price:</br>$<%= '%.2f' % merchant.avg_item_price %></p>
      <p id='total-cost-<%= merchant.id %>'>Total Cost of Items:</br>$<%= '%.2f' % merchant.total_cost_of_items %></p>
    <% end %>
