<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='main.css' title='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
  <title>Merchants</title>
</head>
<body>
  <header id='header'>
    <h1 id='merchant-logo'>Merchants</h1>
    <p>
    <a id='create-merchant' href='/merchants/new'><button>Create A New Merchant</button></a>
    </p>
  </header>
  <% @merchants.each do |merchant| %>
  <ul>
    <li id='merchant-row'><a id='merchant-name' href='/merchants/<%= merchant.id %>'><%= merchant.name %></a>
      <div id='buttons-box'>
      <a href="/merchants/<%= merchant.id %>/edit"><button id='edit-button'>Edit</button></a>
      <div id="delete-<%= merchant.id %>">
        <form action='/merchants/<%= merchant.id %>' method="post">
          <input type="hidden" name="_method" value="delete">
          <input id='delete-button' type="submit" value="Delete">
        </form>
      </div>
    </div>
    </li>
  </ul>
  <% end %>
</body>
</html>
