<header id='header'>
  <p id='item-dashboard-logo'>Items Dashboard</p>
</header>
<section class='dashboard-boxes'>
  <div class='item_count'>
    <div class="item-count-box">
      <p>Total Item Count</p>
      <p class='item-length'><%= @items.length %></p>
    </div>
  </div>
  <div class='avg_price'>
    <div class="item-count-box">
      <p>Avg Price Per Item</p>
      <p class='item-length'>$<%= '%.2f' % @avg_price_of_items %></p>
    </div>
  </div>
  <div class='created'>
    <div class="item-by-age-box">
      <p id='item-by-age'>Item by Age</p>
      <div class='newest'>
        <p id='newest'>Newest</p>
        <p>Item:</p>
        <a href='/items/<%= @items.newest.id %>'><%= @items.newest.title %></a>
      </div>
      <div class='oldest'>
        <p>Oldest</p>
        <p>Item:</p>
        <a href='/items/<%= @items.oldest.id %>'><%= @items.oldest.title %></a>
      </div>
    </div>
  </div>
</section>
