
  <h1>Items Dashboard</h1>
  <div class='item_count'>
    <p>Total Item Count</p>
    <p><%= @items.length %></p>
  </div>
  <div class='avg_price'>
    <p>Avg Price Per Item</p>
    <p>$<%= '%.2f' % @items.avg_price %></p>
  </div>
  </div>
  <div class='created'>
    <p>Item by Age</p>
    <div class='newest'>
      <p>Newest</p>
      <p>Item:</p>
      <a href='/items/<%= @items.newest.id %>'><%= @items.newest.title %></a>
    </div>
    <div class='oldest'>
      <p>Oldest</p>
      <p>Item:</p>
      <a href='/items/<%= @items.oldest.id %>'><%= @items.oldest.title %></a>
    </div>
  </div>
