<header id='header'>
  <a id='dashboard-link' href="/items-dashboard">Dashboard</a>
  <p id='merchant-logo'>Items</p>
  <p id='create-merchant' >
    <a href='/items/new'><button id='create-merchant-button'>Create A New Item</button></a>
  </p>
</header>
<div class='items-container'>
  <% @items.each do |item| %>
  <ul id='item-box'>
    <img id='tulip-image' src='tulips.jpg' alt="yellow-tulip">
    <li><a href='/items/<%= item.id %>'><%= item.title %></a></li>
    <li><%= item.price %></li>
      <a href="/items/<%= item.id %>/edit"><button>Edit</button></a>
      <div id="delete-<%= item.id %>">
        <form action='/items/<%= item.id %>' method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </div>
  </ul>
  <% end %>
</div>
